@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  --h: 0;
  --s: 0%;
  --l: 80%;
  --shadow-delta: 20%;
  --text-delta: 35%;
  --background: hsl(var(--h), var(--s), var(--l));
  --background-second: hsl(var(--h), var(--s), calc(var(--l) - 10%));
  --text: hsl(var(--h), var(--s), calc(100% - var(--l)));
  --text-second: hsl(var(--h), var(--s), calc(calc(100% - var(--l)) + var(--text-delta)));
  --shadow-up: hsl(var(--h), var(--s), calc(var(--l) - var(--shadow-delta)));
  --shadow-down: hsl(var(--h), var(--s), calc(var(--l) + var(--shadow-delta)));
  --bg-angle: 5deg;
  --bg-start: hsl(var(--h), var(--s), calc(var(--l) - 5%));
  --bg-end: hsl(var(--h), var(--s), calc(var(--l) + 5%));
}
html.dark {
  --l: 15%;
  --shadow-delta: 10%;
  --text-delta: -40%;
  --bg-angle: -5deg;
}
.red { --h: 0; }
.green { --h: 130; }
.blue { --h: 215; }
html .color { --s: 50%; --l: 60%; }
html.dark .color { --l: 25%; }
.color {
  --main-color: hsl(var(--h), var(--s), var(--l));
  --bg-start: hsl(var(--h), var(--s), calc(var(--l) - 5%));
  --bg-end: hsl(var(--h), var(--s), calc(var(--l) + 5%));
}.color:active:hover {
  --shadow-up: hsl(var(--h), var(--s), calc(var(--l) - 20%));
  --shadow-down: hsl(var(--h), var(--s), calc(var(--l) + 10%));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  margin: 1em;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto; 
  column-gap: 10px;
  row-gap: 15px;
}