.button, .text-holder, .toggle {
    margin: 5px;
    width: 120px;
    height: 38px;
    line-height: 38px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px var(--shadow-up), -4px -4px 8px var(--shadow-down);
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--main-color), var(--bg-end));
    text-align: center; 
    user-select: none; 
    transition: 0.2s ease all;
  }
  .button:hover, .toggle:hover { 
    box-shadow: 2px 2px 6px var(--shadow-up), -2px -2px 6px var(--shadow-down);
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
  }
  .button:active:hover, .toggle:active:hover { 
    box-shadow: -3px -3px 6px var(--shadow-down) inset, 3px 3px 6px var(--shadow-up) inset;
  }