.input-group { 
    position: relative; 
    margin: 5px;
    z-index: 1;
}
.input-group i {
    color: var(--text-second);
    position: absolute;
    top: 9px;
    right: 8px;
    font-size: 20px;
    transition: 0.5s ease all; 
}
.input-group .fa-times-circle:hover {
    color: var(--main-color);
    font-size: 20px;
    transform: rotate(180deg);
}
input {
    z-index: 1;
    font-size:14px;
    padding: 8px 8px 8px 8px;
    width:150px;
    border:none;
    outline:none;
    /* border-bottom:1px solid var(--text-second); */
    background-color: var(--background);
    caret-color: var(--text);
    color: var(--text);
    border-radius: .8em;
    /* box-shadow: inset 1px 1px 4px var(--shadow-up), inset -1px -1px 4px var(--shadow-down); */
    box-shadow: 2px 2px 2px var(--shadow-up), -3px -3px 4px var(--shadow-down);
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--background), var(--bg-start));
}
input.editable  {
  /* box-shadow: inset 1px 1px 4px var(--shadow-up), inset -1px -1px 4px var(--shadow-down); */
  box-shadow: inset 2px 2px 2px var(--shadow-up), inset -3px -3px 4px var(--shadow-down);
  background: linear-gradient(var(--bg-angle), var(--bg-end), var(--background), var(--bg-start));
}
input:hover.editable  {
  box-shadow: inset 2px 2px 6px var(--shadow-up), inset -3px -3px 6px var(--shadow-down);
}
input:focus.editable  {
  background: hsl(50, 70%, var(--l));
  /* border-bottom: 1px solid var(--text-second); */
	/* animation: inputfocus 4s linear infinite; */
  box-shadow: inset 4px 4px 6px var(--shadow-up), inset -4px -4px 6px var(--shadow-down);
}
input:hover:focus.editable  {
  outline:none;
  box-shadow: inset 5px 5px 7px var(--shadow-up), inset -5px -5px 7px var(--shadow-down);
}
  /* LABEL ======================================= */
label {
    pointer-events: none;
    z-index: 1;
    color: var(--text-second); 
    font-size: 1em;
    position:absolute;
    left:1em;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
/* .input-group>input:not(:focus):not(:placeholder-shown)~label {
  display: none;
} */
  
  /* active state */
  /* input:focus ~ label, input:valid ~ label {
    pointer-events: all;
    z-index: 1;
    top: -1.2em;
    font-size: 1em;
    color: var(--text);
  } */
  input:focus ~ label, input:valid ~ label  {
    pointer-events: all;
    z-index: 1;
    top: -1.2em;
    font-size: 1em;
    color: var(--text);
  }
  

.input-line-group {
  display: flex;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--background-second);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s 1s;
  background-color: var(--background-second);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
  box-shadow: 2px 2px 9px var(--text-second), -3px -3px 9px var(--text-second);
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-second) transparent transparent transparent;
}