
.styled-table {
    border-radius: 1em;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    /* font-family: sans-serif; */
    min-width: 400px;
    box-shadow: inset 3px 3px 7px var(--shadow-up), inset -3px -3px 7px var(--shadow-down);
}
.styled-table thead tr {
    background-color: #507e74;
    color: #ffffff;
    text-align: left;
}
.styled-table thead th:first-child {
    border-top-left-radius: 1em;
}
.styled-table thead th:last-child {
    border-top-right-radius: 1em;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table td.input {
    padding: 0px 0px;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--background-second);
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}