.accordian h3 {
    margin-block-start: .2em;
    margin-block-end: .2em;
}
.accordian h3 a {
    font-size: 16px;
    display: block;
    text-decoration: none;
}
.accordian li {
    list-style-type: none;
}
.accordian ul ul li a,
.accordian h4 {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    display: block;
    transition: all 0.15s;
    position: relative;
}
.accordian li a:hover {
    background: var(--background-second);
}

.accordian ul ul {
    display: none;
    border-left: 1px solid var(--text);
}
.accordian li.active>ul {
    display: block;
}

.accordian ul ul ul {
    margin-left: .5em;
    border-left: 1px solid var(--text);
}